body {
  background-color: #bbb;
  margin: 0;
}

.overlay {
  z-index: 50;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.popup {
  z-index: 100;
  position: fixed;
  top: 200px;
  left: 200px;
  right: 200px;
  background-color: white;
}

.banner {
  font-family: "Verdana", Geneva, sans-serif;
  display: flex;
  background: linear-gradient(to bottom, #cc0000 0%, #ff6666 100%);
  color: white;
  padding: 10px;
  border: 1px solid white;
  margin: 10px;
}

.no-margin {
  margin: 0px;
}

.nav-container {
  position: relative;
  display: flex;
  height: 55px;
}

.shopping-cart {
  position: absolute;
  right: 20px;
  top: 10px;
}

.cart-icon {
  position: absolute;
  top: 2px;
  right: 2px;
  margin-right: 0px;
  margin-left: 0px;
  margin-top: 0px;
}

#cart-count {
  position: absolute;
  top: -7px;
  right: -5px;
  background: red;
  color: white;
  border: solid black 3px;
  border-radius: 50%;
  width: 22px;
  height: 22px;
  text-align: center;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.indent {
  margin-left: 10px;
}

form {
  font-family: "Verdana", Geneva, sans-serif;
  padding: 10px;
  border: 1px solid white;
  margin: 10px;
}
